@import"normalize";

body{
    width: 1440px
    background-color:#000;
}
.title{
    padding: 20px;
    background-color: #000;
    h1{
        width: 100%;
        font-size: 50px;
        text-align: center;    
        color: #fff;    
    }
}

.routine{    
    background-color: #000;
}

.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.item{
    margin: 50px;
    flex-direction: row;
    height: 250px;
    overflow: hidden;
    .banner{
        display: flex;
        flex-direction: column;
        position: relative; 
        img{
            order:1;
            width: 300px;
            height: 200px;         
        }

        h2{
            order: 2;
            text-align: center;
            color: hsla(30,50%,50%, 1); 
        }
        
        ul{
            position: absolute;            
            z-index: -1;
            top: 240px;        
            order:3;      
            width:250px;
            color:hsla(30, 60%, 60%, 1);
            display: block;

        }

        &:hover{
            img{
                opacity: .3;
            }
            ul{                 
                z-index: 2;
                top: 40px;
                line-height: 25px;
                transition: 1s;
            }       
        }
    }
}



