h1{
    margin: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}



.button-group{
    width: 40%;
    display: flex;
    margin: 20px;
    /* border: 1px saddlebrown solid; */
}

.button-group button{
    width: 0;
    flex-grow: 1;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 10px;
}

.card-title {
    color: transparent;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.card-body:hover .card-title{
    color: #ff0;
    
    
}
.card-body{
    background: radial-gradient(closest-corner at 40% 40%,#77E3FC,#62D2EE,#BA1300,#F55900,#FF9A1B);
}

.card-body img{
    filter: brightness(0);
}
.card-body:hover img{
    transition: .5s;
    /* background: radial-gradient(#e66465, #9198e5); */
    filter: brightness(100%);
}


span {    
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.card-body .btn_detail{
    width: 80px;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column;   
    color: #fff;
    background-color: #4098E6;  
    text-align: center;   
}